# 1. 파이썬 자동 생성 파일 무시 (필수)
__pycache__/
*.pyc

# 2. VS Code 설정 파일 무시
.vscode/

# 3. [가장 중요] 용량 큰 데이터 & 모델 무시
data/processed/
data/raw_keypoints/
data/raw_videos/
data/test_keypoints/
experiments/height_mlp_model/

# 4. 가상환경 폴더 (만약 있다면)
venv/
env/
.env